@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@500&display=swap');

/*<div class="intro">
        <h1 class="logo-header">
            <span class="logo">
                Essential
            </span>
            <span class="logo">
                Wear.
            </span>
        </h1>
    </div>*/
body {
    margin: 0;
    padding: 0;
    background-color: #615e4c;
    z-index: 0;
    box-sizing: border-box;

}

header {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #222322;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #353329;

    padding-top: 25px;
    padding-bottom: 25px;
}

.nav_container {
    display: flex;
    flex-direction: row;
}

.nav_links {
    display: flex;
    justify-content: center;
    font-size: 22px;
    padding: 15px 15px;
    margin-left: 10px;
    margin-right: 10px;
    list-style: none;
    /* Removes bullet points from the list */
}


/* Animation of ze year */
/* Source : Hover.css */
.nav_links {
    display: inline-block;
    vertical-align: middle;
    --webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.nav_links:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #FFFFFF;
    height: 1px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.nav_links:hover:before,
.nav_links:focus:before,
.nav_links:active:before {
    left: 0;
    right: 0;
}





.nav_links li {
    margin-left: 3vh;
    margin-right: 3vh;

}

.nav_links a:hover {
    color: #D4AF37;
    /* Change la couleur au survol */
    transition: color 0.3s ease-in-out;
}

/* Si vous souhaitez également un effet sur les boutons */
.cta button:hover {
    background-color: #222322;
    /* Change la couleur de fond au survol */
    color: #FFF8E1;
    /* Change la couleur du texte au survol */
    border-color: #D4AF37;
    /* Change la couleur de la bordure au survol */
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    /* Transition douce pour les changements */
}

.logo-essential a:hover {
    color: #D4AF37;
    /* Change la couleur du texte au survol */
    text-decoration: underline;
    /* Ajoute un soulignement */
    transition: color 0.3s ease-in-out;
    /* Assure une transition douce */
}


.cta button {
    right: 10vh;
    display: flex;
    background-color: #FFF8E1;
    z-index: 3;
    align-self: flex-end;
    padding: 10px;
    border: 1px solid #FFD700;
    font-family: "Kode Mono", monospace;
    font-size: 30px;
    font-weight: 500;
    font-style: normal;
}










header h4 {
    padding-right: 0;
    bottom: 1rem;
    font-size: 2rem;
    font-family: "Protest Revolution", sans-serif;
}

/*Splash screen*/


.intro {
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    transition: 1s;
    background-color: #161616;
    height: 100vh;
    font-family: "Protest Revolution", sans-serif;


}

.logo-header {

    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;


}

.logo {

    position: relative;
    display: inline-block;
    /*so we can separe the 2 elements */
    bottom: -20px;
    opacity: 0;

}

.logo.active {

    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade {

    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;

}


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 500;
    font-style: normal;
    color: #FFF8E1;
    /* Change #000 to whatever color you prefer */
    text-decoration: none;
    /* Optional: removes the underline from links */
}





.prev,
.next {
    position: absolute;
    top: 44vh;
    transform: translate(0, -50%);
    font-size: 50px;
    padding: 15px;
    cursor: pointer;
    color: #FFF;
    transition: 0.1s;
    user-select: none;
}




.prev:hover,
.next:hover {

    color: #D4AF37;

}

.next {
    right: 0;
}



#logo {

    line-height: 60px;
    margin-left: 40px;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    color: #FFF8E1;
    /* Off-White or Cream */
}

#logo:hover {

    color: #D4AF37;
    /* Change la couleur du texte au survol */
    transition: color 0.3s ease-in-out;
    /* Assure une transition douce */
}

#logo-s {
    color: #D4AF37;


}

#logo:hover #logo-s {
    color: #FFF8E1;
    /* Off-White or Cream */
}



.sign a {

    color: #FFF;
    font-weight: bold;
    text-decoration: none;

    .sign a:hover {

        color: #D4AF37;
        border-color: #161616
    }
}

.act {
    border: 2px solid #FFF;
    border-radius: 50px;
    padding: 6px 15px;

}

.slider {

    position: relative;
    width: 100%;
    background-color: #FFF;
}

.myslider {
    display: none;
    overflow: hidden;
    height: 70vh;
}

.dotsbox {
    position: absolute;
    left: 50%;
    top: 72vh;
    transform: translate(-50%);
    cursor: pointer;
}

.fade {

    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.dots {

    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #FFF8E1;
    border-radius: 60%;
    margin: 0 10px;
    cursor: pointer;
}

.active,
.dots:hover {
    border-color: #D4AF37;
}



@-webkit-keyframes fade {

    from {
        opacity: 0.8
    }

    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.8
    }



    to {
        opacity: 1;
    }


}

.text {

    position: absolute;
    color: #FFF;
    letter-spacing: 2px;
    line-height: 35px;
    top: 40%;
    left: 15%;
    -webkit-animation-name: posi;
    -webkit-animation-duration: 2s;
    z-index: 1;
}

.text h1 {

    color: #D4AF37;
    font-weight: bold;
    font-size: 60px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);

}

.text p {
    padding-top: 40px;

    font-size: 40px;
    color: #615e4c;
    text-shadow: 1px 2px 0 #b4b2b2;
    /* Lighter shadow for dark text */
}

@keyframes posi {

    from {
        left: 25%;
    }

    to {
        left: 15%
    }
}

@-webkit-keyframes posi {

    from {
        left: 25%;
    }

    to {
        left: 15%
    }
}



.slider img {
    transform: scale(1.2, 1.2);
    -webkit-animation-name: zoomin;
    -webkit-animation-duration: 40s;
    animation-name: zoomin;
    animation-duration: 30s;
    flex-wrap: wrap;
    width: 100%;
    object-fit: cover;
}

@keyframes zoomin {
    from {
        transform: scale(1, 1)
    }

    to {
        transform: scale(1.2, 1.2)
    }
}

@-webkit-keyframes zoomin {
    from {
        transform: scale(1, 1)
    }

    to {
        transform: scale(1.2, 1.2)
    }
}

@media screen and (max-width:800px) {
    .myslider {
        height: 600px;
    }

    .text {

        line-height: 25px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-animation-name: posi2;
        -webkit-animation-duration: 2s;
        animation-name: posi2;
        animation-duration: 2s;
    }


    @keyframes posi2 {

        from {
            top: 35%;
        }

        to {
            top: 50%;
        }
    }

    @-webkit-keyframes posi2 {

        from {
            top: 35%;
        }

        to {
            top: 50%;
        }
    }

    .text h1 {
        font-size: 40px;

    }

    .text p {

        font-size: 13px;
    }

}

@media screen and (max-width:520px) {

    .text h1 {

        font-size: 30px;
    }

    .sign {
        margin-right: 20px;

    }

    .sign a {

        font-size: 12px;
    }
}


.ad-content {

    display: flex;
    justify-content: center;
}

.ad-content h4 {
    color: #FFF;
    font-size: 5vh;
    font-family: bold;
    outline: 3px groove #FFF8E1;
    outline-offset: 13px;


}

.container-product {

    background-color: #FFF;
    border-radius: 30px;
    margin-bottom: 100px;
    width: 90%;
    margin-left: 5%;

}

.container-product a {
   
    height: 30px;
    width: 50px;
    background: transparent;
    border: 2px solid #222322;
    outline: none;
    border-radius:6px;
    padding: 2px;
    color: #222322;
    

}

.container-product a:hover {

    
    padding: 5px;
    transition: padding 0.2s ease-in-out, padding 0.2s ease-in-out;

}

.container-product h2 {
    color: #222322;
    font-size: 5vh;
    padding-top: 5vh;
    padding-left: 10vh;
    text-decoration: underline;
}

.product img {
    border-radius: 40px;
    border: 2px solid #353329;


}

.product {
    text-align: center;

}

.product h1 {
    font-weight: bold;
    color: #222322;
    font-size: 3vh;

}

.content-product {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
    padding-bottom: 10px;
}

.product h2 {
    color: #FFF8E1;
    font-size: 30px;
}

.product p {
    font-size: 30px;
}





.footer {
    width: 100%;

    background-color: #222322;
    color: #FFF8E1;
    padding-top: 10vh;
    padding-bottom: 10vh;
    display: flex;
    align-items: center;
}

.footer div {

    text-align: center;
    margin-left: 10vh;
    margin-right: 10vh;
}

.col-2 {

    flex-grow: 2;
}

.footer div h3 {

    font-weight: 30vh;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.col-1 a {

    display: block;
    text-decoration: none;
    color: #FFF8E1;
    margin-bottom: 10px;
    font-size: medium;
}

form input {


    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
}

form button {
    background: transparent;
    border: 2px solid #ffffff;
    color: #FFF;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}

/* Produits */

.prod_image {
    width: 500px;
    overflow: hidden;
}

#main {
    display: flex;
    margin: 35px;
    background-color: white;
    border-radius: 25px;
    overflow: hidden;
}

#text {
    margin: 25px 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 40px;
}

h1 {
    font-family: "Arial", sans-serif;
    font-size: 35px;
}

.desc {
    font-family: "Avenir Next", sans-serif;
    font-size: 20px;
}

#line {
    height: 1px;
    width: 100%;
    background-color: gray;
    margin-top: 25px;
    margin-bottom: 25px;
}

.price {
    font-family: "Avenir Next", sans-serif;
    font-size: 20px;
}

.prod_cta {
    width: 100%;
    padding-top: 18px;
    padding-bottom: 18px;
    border: 0;
    background-color: black;
    color: white;
    font-weight: 600;
    font-size: 15px;
}

.prod_cta:hover {
    background-color: white;
    color: black;
    border: black solid 1px;
}


.social-icons {
    margin-top: 30px;
}

.social-icons li {

    font-size: 22px;
    margin: 10px;
    cursor: pointer;

}


.univers-container{
  
    background-color:transparent;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 500px;
    border-radius: 30px;
    border: 2px solid #353329;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.univers{
   
    background-color: #b4b2b2;
    width: 50vh;
    height:300px ;
    border-radius: 6px;
}