@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@500&display=swap');


/*Nav Bar*/

li,
a,
button {

    font-family: "Kode Mono", monospace;
    font-size: 30px;
    font-weight: 500;
    font-style: normal;
}

nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 10vh;
    height: auto;
    align-items: center;
    font-family: "Protest Revolution", sans-serif;
    line-height: 10vh;





}

.nav_links {
    display: flex;
    align-items: center;
    list-style: none;
    /* Remove default list styles */
    flex-direction: space-between;
    font-family: "Protest Revolution", sans-serif;



}

.nav_links li {
    display: flex;
    padding-right: 90px;
    font-family: "Protest Revolution", sans-serif;


}

.nav-container {
    display: flex;
    justify-content: space-between;
    /* This aligns nav links to the left and button to the right */
    align-items: center;
    /* Keep items vertically aligned */
    width: 100%;
    /* Ensure it spans the full width of its parent */
    margin-right: 10vh;
}

.cta button {
    right: 10vh;
    display: flex;
    background-color: #FFF8E1;
    z-index: 1000;
    align-self: flex-end;
    padding: 10px;
    border: 1px solid #FFD700;

}


.logo-essential {
    color: #FFF8E1;
    /* Off-White or Cream */

}



* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}


header {
    position: abso;
    /* Consider using 'relative' if you don't need the header to be 'absolute' */
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 10vh;
    /* Flexible minimum height */
    background-color: #222322;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 2;



}


header h4 {
    padding-right: 0vh;
    bottom: 1rem;
    font-size: 2rem;
    font-family: "Protest Revolution", sans-serif;
}

/*Splash screen*/


.intro {
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    transition: 1s;
    background-color: #161616;
    height: 100vh;
    font-family: "Protest Revolution", sans-serif;


}

.logo-header {

    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;


}

.logo {

    position: relative;
    display: inline-block;
    /*so we can separe the 2 elements */
    bottom: -20px;
    opacity: 0;

}

.logo.active {

    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade {

    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;

}


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 500;
    font-style: normal;
    color: #FFF8E1;
    /* Change #000 to whatever color you prefer */
    text-decoration: none;
    /* Optional: removes the underline from links */
}

body {

    background-color: #FFF8E1;
    /* Off-White or Cream */
    color: #222322;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}




.ad-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #615e4c;
    color: #FFF8E1;
    /* Crème pour le texte */
    margin: 10vh, 10vh, 10vh;
    height: 50vh;

}

content h4 {

    font-size: 10vh;
    font-family: bold;

}

content p {

    font-size: 2vh;

}

.nav_links a:hover {
    color: #D4AF37;
    /* Change la couleur au survol */
    text-decoration: underline;
    /* Ajoute un soulignement pour mettre en évidence */
    transition: color 0.3s ease-in-out;
    /* Transition douce pour le changement de couleur */
}

/* Si vous souhaitez également un effet sur les boutons */
.cta button:hover {
    background-color: #222322;
    /* Change la couleur de fond au survol */
    color: #FFF8E1;
    /* Change la couleur du texte au survol */
    border-color: #D4AF37;
    /* Change la couleur de la bordure au survol */
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    /* Transition douce pour les changements */
}

.logo-essential a:hover {
    color: #D4AF37;
    /* Change la couleur du texte au survol */
    text-decoration: underline;
    /* Ajoute un soulignement */
    transition: color 0.3s ease-in-out;
    /* Assure une transition douce */
}

.nav_links li {
    padding: 10px 20px;
    /* Ajoute un peu d'espacement autour des liens */
    margin: 0 2vh;
    /* Espacement entre chaque élément li */
}

.nav_links li:not(:last-child) {
    border-right: 1px solid #FFF8E1;
    /* Ajoute une séparation entre les éléments, sauf pour le dernier */
    padding-right: 4vh;
}


/*test*/
.slider {
    position: relative;
    width: 100%;
}

.myslider {
    display: none;
    height: 665px;
    overflow: hidden;
}

.prev,
.next {

    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 50px;
    padding: 15px;
    cursor: pointer;
    color: #FFF;
    transition: 0.1s;
    user-select: none;

}

.prev:hover,
.next:hover {

    color: #615e4c
}

.next {
    right: 0;
}



#logo {

    line-height: 60px;
    margin-left: 40px;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    color: #FFF8E1;
    /* Off-White or Cream */
}

#logo:hover {

    color: #D4AF37;
    /* Change la couleur du texte au survol */
    transition: color 0.3s ease-in-out;
    /* Assure une transition douce */
}

#logo-s {
    color: #D4AF37;


}

#logo:hover #logo-s {
    color: #FFF8E1;
    /* Off-White or Cream */
}

.sign {
    float: right;
    line-height: 60px;
   

}

.sign a {

    color: #FFF;
    font-weight: bold;

    text-decoration: none;

}

.act {
    border: 2px solid #FFF;
    border-radius: 50px;
    padding: 6px 15px;

}

.sign a:hover {

    color: #D4AF37;
    border-color: #161616
}

.slider {

    position: relative;
    width: 100%;
    background-color: #FFF;

}

.myslider {
    display: none;
    height: 655px;
    overflow: hidden;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 50px;
    padding: 15px;
    cursor: pointer;
    color: #FFF;
    transition: 0.1s;
    user-select: none;

}

.prev:hover,
.next:hover {

    color: #D4AF37;

}

.next {
    right: 0;
}

.dotsbox {
    position: absolute;
    display: flexbox;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    
    cursor: pointer;
}

.dots {

    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1vh solid #FFF;
    border-radius: 60%;
    margin: 0 10px;
    cursor: pointer;
}

.active,
.dots:hover {
    border-color: #D4AF37;
}

.fade {

    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5sec;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {

    from {
        opacity: 0.8
    }

    ;

    to {
        opacity: 1;
    }

}

@keyframes fade {
    from {
        opacity: 0.8
    }



    to {
        opacity: 1;
    }


}

.text {

    position: absolute;
    color: #FFF;
    letter-spacing: 2px;
    line-height: 35px;
    top: 40%;
    left: 15%;
    -webkit-animation-name: posi;
    -webkit-animation-duration: 2s;
    z-index: 1;
}

@keyframes posi {

    from {
        left: 25%;
    }

    to {
        left: 15%
    }
}

@-webkit-keyframes posi {

    from {
        left: 25%;
    }

    to {
        left: 15%
    }
}

.text h1 {

    color: #D4AF37;
    font-weight: bold;
    border: #161616;

}

.text p {

    font-weight: bold;
    font-size: 20px;
    color: #161616;
}

img {
    transform: scale(1.2, 1.2);
    -webkit-animation-name: zoomin;
    -webkit-animation-duration: 40s;
    animation-name: zoomin;
    animation-duration: 40sec;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes zoomin {
    from {
        transform: scale(1, 1)
    }

    to {
        transform: scale(1.2, 1.2)
    }
}

@-webkit-keyframes zoomin {
    from {
        transform: scale(1, 1)
    }

    to {
        transform: scale(1.2, 1.2)
    }
}

@media screen and (max-width:800px) {
    .myslider {
        height: 600px;
    }

    .text {

        line-height: 25px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-animation-name: posi2;
        -webkit-animation-duration: 2s;
        animation-name: posi2;
        animation-duration: 2s;
    }


    @keyframes posi2 {

        from {
            top: 35%;
        }

        to {
            top: 50%;
        }
    }

    @-webkit-keyframes posi2 {

        from {
            top: 35%;
        }

        to {
            top: 50%;
        }
    }

    .text h1 {
        font-size: 40px;

    }

    .text p {

        font-size: 13px;
    }

}

@media screen and (max-width:520px) {

    .text h1 {

        font-size: 30px;
    }

    .sign {
        margin-right: 20px;

    }

    .sign a {

        font-size: 12px;
    }
}


.divider {
    position: relative; 
    background: transparent; 
  }
  
  .divider::before {
    content: ""; /* Nécessaire pour afficher le pseudo-élément */
    position: absolute; /* Positionne le pseudo-élément par rapport à son parent */
    top: 0; /* Aligné en haut */
    left: 0; /* Aligné à gauche */
    width: 100%; /* Assure que le pseudo-élément s'étend sur toute la largeur */
    height: 100px; /* Hauteur du dégradé, simulant la "bordure" */
    background: linear-gradient(to bottom, #615e4c, transparent); /* Dégradé de la couleur au transparent */
  }
  
  